.path-node .layout-region-node-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  width: 972px;
  padding: 0;
  /**
   * Items paragraph
   */
}
.path-node .layout-region-node-main > * {
  width: 180px;
  padding: 8px 0;
  border: 1px solid #ccc;
  background-color: #E0E0D8;
  height: 106px;
  border-radius: 5px;
}
.path-node .layout-region-node-main > * > * {
  margin: 0 10px;
}
.path-node .layout-region-node-main > * .pretty-element label {
  height: 26px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.path-node .layout-region-node-main > * .form-date,
.path-node .layout-region-node-main > * .chosen-single {
  height: 26px;
  border-radius: 5px;
}
.path-node .layout-region-node-main .field--name-title,
.path-node .layout-region-node-main .field--name-langcode,
.path-node .layout-region-node-main .field--name-path {
  display: none;
}
.path-node .layout-region-node-main .field--name-field-items {
  width: 972px;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #E0E0D8;
  margin-top: 28px;
  margin-bottom: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #E0E0D8;
}
.path-node .layout-region-node-main .field--name-field-items * {
  margin: 0;
  padding: 0;
}
.path-node .layout-region-node-main .field--name-field-items .tabledrag-changed-warning,
.path-node .layout-region-node-main .field--name-field-items .messages--warning {
  display: none !important;
}
.path-node .layout-region-node-main .field--name-field-items .paragraphs-tabs-wrapper {
  margin: 0;
  width: 100%;
  display: flex;
}
.path-node .layout-region-node-main .field--name-field-items input,
.path-node .layout-region-node-main .field--name-field-items select,
.path-node .layout-region-node-main .field--name-field-items .chosen-container,
.path-node .layout-region-node-main .field--name-field-items .shs-widget-container,
.path-node .layout-region-node-main .field--name-field-items .chosen-single,
.path-node .layout-region-node-main .field--name-field-items .form-type-textfield {
  width: 48%;
  height: 26px;
  border-radius: 5px;
}
.path-node .layout-region-node-main .field--name-field-items select {
  padding-right: 17px;
}
.path-node .layout-region-node-main .field--name-field-items .form-item {
  margin: 0px;
  display: flex;
}
.path-node .layout-region-node-main .field--name-field-items .form-item .placeholder {
  display: none;
}
.path-node .layout-region-node-main .field--name-field-items .field-multiple-table {
  width: 858.2px;
}
.path-node .layout-region-node-main .field--name-field-items .tabledrag-toggle-weight-wrapper,
.path-node .layout-region-node-main .field--name-field-items caption {
  display: none;
}
.path-node .layout-region-node-main .field--name-field-items .tabledrag-changed {
  margin-right: 10px;
  margin-bottom: 13px;
}
.path-node .layout-region-node-main .field--name-field-items tr,
.path-node .layout-region-node-main .field--name-field-items th {
  border: 0px;
}
.path-node .layout-region-node-main .field--name-field-items tr {
  padding: 0;
  display: flex;
}
.path-node .layout-region-node-main .field--name-field-items th {
  background-color: #E0E0D8;
}
.path-node .layout-region-node-main .field--name-field-items th:first-child {
  display: none;
}
.path-node .layout-region-node-main .field--name-field-items tr th, .path-node .layout-region-node-main .field--name-field-items tr td:nth-child(2),
.path-node .layout-region-node-main .field--name-field-items tr th, .path-node .layout-region-node-main .field--name-field-items tr td:nth-child(3),
.path-node .layout-region-node-main .field--name-field-items tr th, .path-node .layout-region-node-main .field--name-field-items tr td:nth-child(4),
.path-node .layout-region-node-main .field--name-field-items tr th, .path-node .layout-region-node-main .field--name-field-items tr td:nth-child(5) {
  padding: 0;
  width: 187.55px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.path-node .layout-region-node-main .field--name-field-items .action {
  width: 26px;
  display: flex;
  justify-content: center;
}
.path-node .layout-region-node-main .field--name-field-items .paragraphs-dropdown-action {
  width: 103.8px;
  padding-left: 24px;
  padding-right: 24px;
}
.path-node .layout-region-node-main .field--name-field-items .draggable {
  display: flex;
}
.path-node .layout-region-node-main .field--name-field-items .field-multiple-drag {
  order: 6;
  width: 42px;
  display: flex;
  align-items: center;
}
.path-node .layout-region-node-main .field--name-field-items .tabledrag-handle {
  display: unset !important;
  height: 30px;
  width: 42px;
  padding: 0;
}
.path-node .layout-region-node-main .field--name-field-items .handle {
  height: 30px;
  width: 42px;
}
.path-node .layout-region-node-main .field--name-field-items .tabledrag-hide,
.path-node .layout-region-node-main .field--name-field-items .delta-order {
  display: none;
}
.path-node .layout-region-node-main .field--name-field-items .shs-field-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 187.55px;
}
.path-node .layout-region-node-main .field--name-field-items .shs-field-container .shs-widget-container {
  /*        width: 100%;
          }

          .shs-widget-container:not(:only-child) {
  */
  width: 48%;
}
.path-node .layout-region-node-main .field--name-field-items .shs-select,
.path-node .layout-region-node-main .field--name-field-items .chosen-single,
.path-node .layout-region-node-main .field--name-field-items .form-type-number,
.path-node .layout-region-node-main .field--name-field-items .form-text {
  width: 172px;
  height: 26px;
}
.path-node .layout-region-node-main .field--name-field-items .form-type-select-or-other-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 187.55px;
}
.path-node .layout-region-node-main .field--name-field-items .form-type-select-or-other-select .visually-hidden {
  display: none;
}
.path-node .layout-region-node-main .field--name-field-items .form-type-select-or-other-select .form-type-select {
  width: 100%;
  padding-right: 16px;
}
.path-node .layout-region-node-main .field--name-field-items .form-type-select-or-other-select .chosen-container-single,
.path-node .layout-region-node-main .field--name-field-items .form-type-select-or-other-select .chosen-single {
  width: 100%;
}
.path-node .layout-region-node-main .field--name-field-items .form-type-select-or-other-select .form-type-select:not(:only-child),
.path-node .layout-region-node-main .field--name-field-items .form-type-select-or-other-select .form-type-textfield {
  width: 48%;
  padding-right: 0;
}
.path-node .layout-region-node-main .field--name-field-items .field-prefix {
  margin-right: 4px;
}
.path-node .layout-region-node-main .field--name-field-items table + .clearfix {
  width: 11.7078%;
  font-size: 0px;
  height: calc(100% - 40px);
  display: flex;
  align-self: flex-end;
  align-items: end;
}
.path-node .layout-region-node-main .field--name-field-items .paragraphs-add-wrapper {
  width: 113.8px;
  height: 22px;
  display: flex;
}
.path-node .layout-region-node-main .field--name-field-items .paragraphs-add-wrapper > * {
  align-self: flex-end;
}
.path-node .layout-region-node-main .field--name-field-items .field-add-more-submit {
  width: 103.8px;
  height: 26px;
  margin-bottom: 10px;
}
.path-node .layout-region-node-secondary {
  display: none;
}