/**
 * Colors.
 */
// Medium beige.
$color--background: #b9ac9c;
// Beige.
$color--neutral: #DDD7C9;
// Dark gray.
$color--primary: #2D363B;
// Teal.
$color--secondary: #338A7A;
// Red-orange.
$color--accent: #df5b43;
