/**
 * Colors.
 */
// Malta (tan).
$color--background: #b9ac9c;
// Outer Space (dark gray).
$color--primary: #2D363B;
// Moon Mist (beige).
$color--secondary: #DDD7C9;
// Paradiso (teal).
$color--accent: #338A7A;
