.path-node {
  .layout-region-node-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    width: 972px;
    padding: 0;

    > * { // layout-region-node-main contents
      width: 180px;
      padding: 8px 0;
      border: 1px solid #ccc;
      background-color: #E0E0D8;
      height: 106px;
      border-radius: 5px;

      > * {
        margin: 0 10px;
      }

      .pretty-element {
        label {
          height: 26px;
          border-radius: 5px;
          display: flex;
          align-items: center;
        }
      }

      .form-date,
      .chosen-single {
        height: 26px;
        border-radius: 5px;
      }
    }

    .field--name-title,
    .field--name-langcode,
    .field--name-path, {
      display: none;
    }

    /**
     * Items paragraph
     */
    .field--name-field-items {
      width: 972px;
      height: 100%;
      border: 1px solid #ccc;
      background-color: #E0E0D8;
      margin-top: 28px;
      margin-bottom: 28px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background-color: #E0E0D8;

      * {
        margin: 0;
        padding: 0;
      }

      .tabledrag-changed-warning,
      .messages--warning {
        display: none !important;
      }

      .paragraphs-tabs-wrapper{
        margin: 0;
        width: 100%;
        display: flex;
      }

      input,
      select,
      .chosen-container,
      .shs-widget-container,
      .chosen-single,
      .form-type-textfield {
        width: 48%;
        height: 26px;
        border-radius: 5px;
      }

      select {
        padding-right: 17px;
      }

      .form-item {
        margin: 0px;
        display: flex;

        .placeholder {
          display: none;
        }
      }

      .field-multiple-table {
        width: 858.2px;
      }

      .tabledrag-toggle-weight-wrapper,
      caption {
        display: none;
      }

      .tabledrag-changed {
        margin-right: 10px;
        margin-bottom: 13px;
      }

      tr,
      th {
        border: 0px;
      }

      tr {
        padding: 0;
        display: flex; // new
      }

      th {
        background-color: #E0E0D8;
      }

      th:first-child {
        display: none;
      }

      tr th, tr td:nth-child(2),
      tr th, tr td:nth-child(3),
      tr th, tr td:nth-child(4),
      tr th, tr td:nth-child(5) {
        padding: 0;
        width: 187.55px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
      }

      .action {
        width: 26px;
        display: flex;
        justify-content: center;
      }

      .paragraphs-dropdown-action {
        width: 103.8px;
        padding-left: 24px;
        padding-right: 24px;
      }

      .draggable { // new
        display: flex;
      }

      .field-multiple-drag { // new
        order: 6;
        width: 42px;
        display: flex;
        align-items: center;
      }

      .tabledrag-handle {
        display: unset !important;
        height: 30px;
        width: 42px;
        padding: 0;
      }

      .handle {
        height: 30px;
        width: 42px;
      }

      .tabledrag-hide,
      .delta-order {
        display: none;
      }

      .shs-field-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 187.55px;

        .shs-widget-container {
/*        width: 100%;
        }

        .shs-widget-container:not(:only-child) {
*/        width: 48%;
        }
      }

      .shs-select,
      .chosen-single,
      .form-type-number,
      .form-text {
        width: 172px;
        height: 26px;
      }

      .form-type-select-or-other-select {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 187.55px;

        .visually-hidden {
          display: none;
        }

        .form-type-select {
            width: 100%;
            padding-right: 16px;
        }

        .chosen-container-single,
        .chosen-single {
          width: 100%;
        }

        .form-type-select:not(:only-child),
        .form-type-textfield {
          width: 48%;
          padding-right: 0;
        }
      }

      .field-prefix {
        margin-right: 4px;
      }

      table + .clearfix {
        width: 11.7078%;
        font-size: 0px;
        height: calc( 100% - 40px );
        display: flex;
        align-self: flex-end;
        align-items: end;
      }

      .paragraphs-add-wrapper {
        width: 113.8px;
        height: 22px;
        display: flex;

        > * {
          align-self: flex-end;
        }
      }

      .field-add-more-submit {
        width: 103.8px;
        height: 26px;
        margin-bottom: 10px;
      }

    } // field--name-field-items
  } // layout-region-node-main

  .layout-region-node-secondary {
    display: none;
  }

} // path-node
